<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.one.kcar.dao.store.IStoreDAO">

	<select id="storelistAll"
		resultType="com.one.kcar.dto.store.StoreDTO">
		select * from kcar_store
	</select>

	<select id="storelist" parameterType="String"
		resultType="com.one.kcar.dto.store.StoreDTO">
		select * from kcar_store where st_name = #{name}
	</select>

	<select id="storeCarall" parameterType="String"
		resultType="com.one.kcar.dto.buy.CarDTO">
		select * from kcar_car where st_name = #{st_name}
	</select>



	<select id="storeOption"
		resultType="com.one.kcar.dto.buy.CarDTO">
		select * from kcar_car a left join kcar_car_option b on a.c_num =
		b.c_num where st_name = #{st_name} and c_price between
		#{s_option.min_price} and #{s_option.max_price}
		and c_distance &lt;=
		#{s_option.range}
		
		<if test="!s_option.getSearchOption().isEmpty()">
					<foreach collection="s_option.getSearchOption()" item="detail">
						<if test="detail.equals('에어백')"> and c_o_airback='에어백'</if>
						<if test="detail.equals('네비게이션')"> and c_o_navigation='네비게이션'</if>
						<if test="detail.equals('하이패스')"> and c_o_hiPass='하이패스'</if>
						<if test="detail.equals('후방센서')"> and c_o_backSensor='후방센서'</if>
						<if test="detail.equals('후방카메라')"> and c_o_camera ='후방카메라'</if>
						<if test="detail.equals('핸들열선')"> and c_o_handleHot ='핸들열선'</if>
						<if test="detail.equals('스마트키')"> and c_o_smartKey ='스마트키'</if>
						<if test="detail.equals('블랙박스')"> and c_o_blackBox ='블랙박스'</if>
						<if test="detail.equals('선루프')"> and c_o_sonRoof ='선루프'</if>
					</foreach>
				</if>
		<if test="alignment == '최근연식순'">
			ORDER BY c_year desc
		</if>
		<if test="alignment == '낮은연식순'">
			ORDER BY c_year asc
		</if>
		<if test="alignment == '적은주행거리순'">
			ORDER BY c_distance asc
		</if>
		<if test="alignment == '많은주행거리순'">
			ORDER BY c_distance desc
		</if>
		<if test="alignment.equals('낮은가격순')">
			ORDER BY c_price asc
		</if>
		<if test="alignment == '높은가격순'">
			ORDER BY c_price desc
		</if>

	</select>

</mapper>